{% load static %}
<div class="cont_header">
    <h1 class="cont_header_title mb">Бесплатно смотреть фильмы онлайн — в хорошем качестве</h1>
    <p class="cont_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, voluptates? Voluptates iusto porro ratione repellendus odio officiis eaque nulla perspiciatis voluptatum magnam explicabo nobis quibusdam nam distinctio, excepturi dolorem magni facilis reiciendis sint cum ducimus molestias architecto neque. Sit, quae ipsa molestias debitis aspernatur praesentium nisi laudantium animi veritatis earum?
    </p>
    <div class="cont_btn">
        <a href="" class="cont_link youtube">
            <div class="cont_link_wrap"></div>
            <p class="cont_link_text">YouTube</p>
        </a>
        <a href="https://t.me/chtosmotrett" class="cont_link tg">
            <div class="cont_link_wrap"></div>
            <p class="cont_link_text">Telegram</p>
        </a>
    </div>
</div>