{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer_item">
            <div class="footer_left">
                <div class="footer_text">© 2021 "ChtoSmotret"</div>
                <div class="footer_social">
                    <a href="" class="footer_link">
                        <img class="footer_link_img" src="{% static 'img/footer/youtube.svg' %}" alt="">
                    </a>
                    <a href="" class="footer_link">
                        <img class="footer_link_img" src="{% static 'img/footer/instagram.svg' %}" alt="">
                    </a>
                    <a href="" class="footer_link">
                        <img class="footer_link_img" src="{% static 'img/footer/telegram.svg' %}" alt="">
                    </a>
                </div>
            </div>
            <a href="" class="footer_logo">
                <img src="{% static 'img/Лого88.png' %}" alt="" class="footer_logo_img">
            </a>
        </div>
    </div>
</footer>