{% load static %}
<div class="cont_main_slider">
    <div class="cont_main_slider_wrap">
        <a href="" class="cont_main_slider_item">
            <img class="movie_header_img slider" src="html_blocks/img/movie_head/Простая просьба.jpg" alt="">
        </a>
        <a href="" class="cont_main_slider_item">
            <img class="movie_header_img slider" src="html_blocks/img/movie_head/Джентельмены.jpg" alt="">
        </a>
        <a href="" class="cont_main_slider_item">
            <img class="movie_header_img slider" src="html_blocks/img/movie_head/Человек швейцарский нож.jpg" alt="">
        </a>

    </div>
</div>