{% load static %}
<div class="cont_slider_header">Последние добавленные:</div>
<div class="cont_slider">
    <div class="slider_wrapper">
        <a href="" class="katalog_item slider">
            <div class="katalog_item_wrapper slider">
                <img class="katalog_item_img" src="{% static 'img/постеры/джентельмены.jpg' %}" alt="">
                <img class="katalog_item_play" src="{% static 'img/play-button.svg' %}" alt="">
            </div>
            <div class="katalog_item_info">
                <div class="cont_text bold">Джентельмены</div>
                <div class="katalog_item_info_footer">
                    <div class="cont_text lite blue">2019</div>
                    <div class="cont_text lite">Комедия</div>
                    <div class="cont_text lite">КП: 8,5</div>
                </div>
            </div>
        </a>
        <a href="" class="katalog_item slider">
            <div class="katalog_item_wrapper slider">
                <img class="katalog_item_img" src="{% static 'img/постеры/джентельмены.jpg' %}" alt="">
                <img class="katalog_item_play" src="{% static 'img/play-button.svg' %}" alt="">
            </div>
            <div class="katalog_item_info">
                <div class="cont_text bold">Джентельмены</div>
                <div class="katalog_item_info_footer">
                    <div class="cont_text lite blue">2019</div>
                    <div class="cont_text lite">Комедия</div>
                    <div class="cont_text lite">КП: 8,5</div>
                </div>
            </div>
        </a>
        <a href="" class="katalog_item slider">
            <div class="katalog_item_wrapper slider">
                <img class="katalog_item_img" src="{% static 'img/постеры/джентельмены.jpg' %}" alt="">
                <img class="katalog_item_play" src="{% static 'img/play-button.svg' %}" alt="">
            </div>
            <div class="katalog_item_info">
                <div class="cont_text bold">Джентельмены</div>
                <div class="katalog_item_info_footer">
                    <div class="cont_text lite blue">2019</div>
                    <div class="cont_text lite">Комедия</div>
                    <div class="cont_text lite">КП: 8,5</div>
                </div>
            </div>
        </a>
        <a href="" class="katalog_item slider">
            <div class="katalog_item_wrapper slider">
                <img class="katalog_item_img" src="{% static 'img/постеры/джентельмены.jpg' %}" alt="">
                <img class="katalog_item_play" src="{% static 'img/play-button.svg' %}" alt="">
            </div>
            <div class="katalog_item_info">
                <div class="cont_text bold">Джентельмены</div>
                <div class="katalog_item_info_footer">
                    <div class="cont_text lite blue">2019</div>
                    <div class="cont_text lite">Комедия</div>
                    <div class="cont_text lite">КП: 8,5</div>
                </div>
            </div>
        </a>
        <a href="" class="katalog_item slider">
            <div class="katalog_item_wrapper slider">
                <img class="katalog_item_img" src="{% static 'img/постеры/джентельмены.jpg' %}" alt="">
                <img class="katalog_item_play" src="{% static 'img/play-button.svg' %}" alt="">
            </div>
            <div class="katalog_item_info">
                <div class="cont_text bold">Джентельмены</div>
                <div class="katalog_item_info_footer">
                    <div class="cont_text lite blue">2019</div>
                    <div class="cont_text lite">Комедия</div>
                    <div class="cont_text lite">КП: 8,5</div>
                </div>
            </div>
        </a>
        <a href="" class="katalog_item slider">
            <div class="katalog_item_wrapper slider">
                <img class="katalog_item_img" src="{% static 'img/постеры/джентельмены.jpg' %}" alt="">
                <img class="katalog_item_play" src="{% static 'img/play-button.svg' %}" alt="">
            </div>
            <div class="katalog_item_info">
                <div class="cont_text bold">Джентельмены</div>
                <div class="katalog_item_info_footer">
                    <div class="cont_text lite blue">2019</div>
                    <div class="cont_text lite">Комедия</div>
                    <div class="cont_text lite">КП: 8,5</div>
                </div>
            </div>
        </a>
        <a href="" class="katalog_item slider">
            <div class="katalog_item_wrapper slider">
                <img class="katalog_item_img" src="{% static 'img/постеры/джентельмены.jpg' %}" alt="">
                <img class="katalog_item_play" src="{% static 'img/play-button.svg' %}" alt="">
            </div>
            <div class="katalog_item_info">
                <div class="cont_text bold">Джентельмены</div>
                <div class="katalog_item_info_footer">
                    <div class="cont_text lite blue">2019</div>
                    <div class="cont_text lite">Комедия</div>
                    <div class="cont_text lite">КП: 8,5</div>
                </div>
            </div>
        </a>
    </div>
</div>